/* Page Reset & Centering */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

/* Body Wrapper */
.body {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
}


.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
    background-color: orangered;
    color:#fff;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 28px;
  color:#fff;
  gap: 6px;
  margin-left: 20px;
}

.fire-icon {
  font-size: 32px;
}

.fire-text {
  font-size: 28px;
  color:#fff;
}


.nav-items > ul {
  display: flex;
  list-style: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  font-size: 24px;
}

/* Restaurant Card */
.res-card {
  background: #fff;
  width: 350px;
  margin: 10px;
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;

}
.skeleton-card{
   background: #fff;
  width: 350px;
  margin: 5px;
  padding: 5px;
   display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 350px;
}
.res-card:hover {
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.res-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.img-replacer{
    width: 100%;
  height: 250px;
background-color:gainsboro;
  border-radius: 10px 10px 0 0;
}
.text-replacer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
justify-content: space-around;
  height: auto;
}
.double-end-text{
  display: flex;
  justify-content: space-between;
  margin: 3px;
}
.double-end-text > div{
  width: 25%;
  background-color: gainsboro;
    height: 15px; 
    border-radius: 4px;
}
.cuisine-replacer{
  width: 75%;
   background-color: gainsboro;
    height: 15px; 
    border-radius: 4px;
}
/* Text inside card */
.res-card > h3 {
  margin: 3px;
}

.res-card > h4 {
  margin: 3px;
}

/* Card internal layout */
.res-card-inner {
  display: flex;
  justify-content: space-between;
}

/* Card Container */
.res-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 20px;
}


.primary-button{
  margin:10px;
  cursor: pointer;
  padding: 10px;
  background-color: orangered;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: larger;
}
.primary-button:hover{
  background-color: #fff;
  color: orangered;
  border :1px solid orangered;
}
.search-button{
   padding: 11px;
  background-color: orangered;
 box-sizing: border-box;
   border: none;
  color: #fff;
  margin-left: 15px;
  border-radius: 5px;
}
.search-button:hover{
    background-color: #fff;
  color: orangered;
  border :1px solid orangered;
}
.search-bar{
  width:400px;
  padding: 11px;
box-sizing: border-box;
border-radius: 10px;
}
.filter{
  display: flex;
  justify-content: space-around;
}
.no-res-text{
  color:gray;
  text-align: center;
  margin-top: 180px;
}
/* Mobile Responsive */
@media (max-width: 660px) {
  .nav-items > ul > li {
    padding: 3px;
    margin: 3px;
    font-size: 17px;
  }

  .logo {
    width: 50px;
    margin-left: 10px;
  }

  .res-card {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
  }

  .res-card > h3 {
    font-size: 18px;
  }

  .res-card > h4 {
    font-size: 12px;
  }
  .primary-button{
    font-size: medium;
    padding: 3px;
    margin:3px
  }
  .search-button{
     font-size: medium;
    padding: 3px;
     margin-left: 5px;
  }
  .logo{
    font-size: 14px;
  }
  .search-bar{
    width: 150px;
    padding: 3px;
    margin:3px
  }
}
